@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container-fluid px-4">
    <h1 class="mt-4">Dashboard</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Book List
        </div>
        <div class="card-body">
            <table id="tb" class="table table-hover">
                <thead>
                    <tr>
                        <th>Book ID</th>
                        <th>Book Name</th>
                        <th>Year of public</th>
                        <th>Position</th>
                        <th>Cost</th>
                        <th>NumofPage</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Book ID</th>
                        <th>Book Name</th>
                        <th>Year of public</th>
                        <th>Position</th>
                        <th>Cost</th>
                        <th>NumofPage</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>